aiofiles==0.3.2
astropy==2.0.2
asyncpg==0.13.0
blinker==1.4
gunicorn==19.7.1
h11==0.7.0
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==3.3.2
numpy==1.13.3
psycopg2==2.7.3.2
py==1.5.2
pytest==3.2.5
Quart==0.3.1
scipy==1.0.0
sortedcontainers==1.5.7
uvloop==0.9.0
wsproto==0.10.0
